.droppable {
  background: #e9e9e9;
  border-radius: 8;
  height: calc(100dvh - 80px);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.container {
  background: #dadada;
  padding: 50px 10px 25px;
  flex: 1;
  border-radius: 8;
  border: 1px solid #ababab;
  display: flex;
  align-self: stretch;
  min-height: 50;

  &-row {
    flex-direction: row;
    background-color: #cdcdcd;
    margin-bottom: 5px;
  }

  &-column {
    flex-direction: column;
    background-color: transparent;
  }
}

.sortable-item {
  height: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #9a9a9a;
  margin: 10px;
  background: white;
  border-radius: 8;
}
